<div class="container">
  <div class="row">
    <div class="col-md-7">
      <mat-accordion *ngIf="!userTask.isDeleted">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="py-3">
              <div class="task-header">
                <span style="font-weight: bold;"> {{userTask.name}} </span>
                <span>
                  <span>{{userTask.dueDate | date}} </span>
                  <span *ngIf="userTask.percentageComplete > 0 && userTask.percentageComplete < 1" style="font-weight: bold;">| {{userTask.percentageComplete * 100}}%</span>
                  <span *ngIf="userTask.percentageComplete == 1" style="font-weight: bold;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                    </svg>
                  </span>
                </span>
                
              </div>       
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p style="text-wrap: wrap;">Description: {{userTask.description}}</p>
            <p>Due Date: {{userTask.dueDate | date}}</p>
            <p>Status: {{userTask.status}}</p>

            <div class="task-button-container">
              <app-delete-user-task [userTask]="userTask" />
              <app-update-user-task [userTask]="userTask" (userTaskChange)="userTaskChange($event)"/>
            </div>
            
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
