.modal-container {
    padding: 20px;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .mat-form-field {
    font-size: 14px;
  }
  
  .mat-raised-button {
    padding: 10px 15px;
  }
  
  button.mat-button {
    background-color: transparent;
    color: #007bff; /* Bootstrap primary color */
    border: none;
  }
  
  button.mat-raised-button {
    color: white;
  }