<div class="text-center">
  <h2 class="py-3">Update User Preferences</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label class="pb-2">Select Theme</mat-label>
      <mat-select name="currentTheme" [ngModel]="userPreferences.themeName" (ngModelChange)="changeTheme($event)">
        <!-- (click)="changeTheme(theme.name)" -->
        <mat-option *ngFor="let theme of themes" [value]="theme" class="pb-2">
          <p class="bold">{{ theme.name }}</p>
          <div class="row">
            <div class="box" [ngStyle]="{'background-color': theme.primary}"></div>
            <div class="box" [ngStyle]="{'background-color': theme.secondary}"></div>
            <div class="box" [ngStyle]="{'background-color': theme.background}"></div>
            <div class="box" [ngStyle]="{'background-color': theme.text}"></div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>{{userPreferences.themeName}}</p>  
    <!-- Action Buttons -->
    <div class="modal-actions">
      <button class="mx-2" (click)="cancel()">Cancel</button>
      <button
        class="mx-2"
        type="submit"
        [disabled]="!form.valid"
      >
        Update
      </button>
    </div>
  </form>
</div>
